appdirs==1.4.4
fastapi==0.92.0
fastapi-versioning==0.9.1
loguru==0.5.3
starlette==0.25.0
aiofiles==0.8.0
Adafruit-PCA9685==1.0.1
bme280==0.6
uvicorn==0.20.0
pyserial==3.5
requests==2.28.2
websockets==10.4